.ai-clock {
  width: 80vw;
  margin: auto;
  background-color: #999;
}

.clock {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: lightgreen;
  border: 24px double black;
  border-radius: 50%;
  box-sizing: border-box;
  border-style: dashed;
  rotate: 5deg;
}

.center {
  width: 10px;
  height: 10px;
  background-color: blue;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 50%;
  margin: auto;
  z-index: 4;
}

.hours {
  display: none;
  width: 10px;
  height: 126px;
  background-color: #d92020;
  margin: auto;
  position: absolute;
  rotate: 60deg;
  /* transform-origin: 11.7px 129px; */
  /* border: 1px solid gray; */
  /* border-radius: 100% 100% 5px 5px; */
  /* box-sizing: border-box; */
  /* z-index: 1; */
}

.minutes {
  display: none;
  width: 10px;
  height: 126px;
  left: 50%;
  background-color: #027900;
  /* margin: auto; */
  position: absolute;
  rotate: 136deg;
  /* transform-origin: 7px 130px; */
  /* border: 1px solid gray; */
  /* border-radius: 100% 100% 5px 5px; */
  /* box-sizing: border-box; */
  z-index: 2;
}

.seconds {
  width: 10px;
  height: 126px;
  left: 50%;
  translate: 0 -50%;
  background-color: #fbff14;
  margin: auto;
  position: absolute;
  rotate: 254deg;
  /* border: 1px solid gray; */
  /* border-radius: 100% 100% 5px 5px;; */
  /* box-sizing: border-box; */
  /* transform-origin: 1.2px 130px; */
  z-index: 3;
}

.clock::after {
  background-color: #fff;

}